byol_pytorch==0.8.2
wandb==0.19.0
pytorch-lightning==2.5.5
matplotlib
tqdm
numpy
torchmetrics==1.7.0
scikit-learn==1.7.2

# CLIP
git+https://github.com/openai/CLIP.git

# Poleno Dataset
git+https://github.com/SimonLuder/Pollen_Datasets.git

# Poleno BYOL
git+https://github.com/SimonLuder/BYOL_Representations_for_Holographic_Pollen.git